#search-page h1 {
    color: #177199;
    font-weight: 300;
}
#search-page .query {
    width: 100%;
    line-height: 40px;
    border: solid 1px #CCC;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #E1E1E1;
    padding: 0 10px;
}
#search-page .controls {
    text-align: right;
    padding: 10px 0 0 0;
    margin: 0 0 20px 0;
}
#search-page .query-btn {
    background: linear-gradient(top, #177199, #145472);
    background: -webkit-linear-gradient(top, #177199, #145472);
    border: none;
    color: #FFF;
    line-height: 35px;
    padding: 0 20px;
    border-radius: 5px;
}
#search-page .loading-msg {
    float: left;
    font-size: 16px;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
#search-page .loading-msg.ng-hide {
    opacity: 0;
}
.dots {
    margin: auto;
    padding: 0;
    list-style: none;
    width: 50px;
    clear: both;
}
.dots li {
    background-color: #CCC;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}
.dots li:last-child,
.dots li:first-child {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #E1E1E1;
}
.dots.bottom li:last-child,
.dots.bottom li:first-child {
    margin-bottom: 3px;
}
.query-results {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}
.query-results li.no-data {
    font-size: 18px;
    text-align: center;
    color: #177199;
    font-weight: 300;
    line-height: 100px;
}